__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
build/
dist/
dist_enduser/
.vscode/
**/.vscode/
**/.idea/
**/.pytest_cache/
**/.ruff_cache/
.DS_Store
aqtinstall.log
CMakeFiles/
.venv/
.vcpkg/
Languages/C++/build-*/
Languages/Rust/target/
.trading_bot_allocations.json
/Trading-Bot-*.exe
